body {
    width: 100%;
    height:100%;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.box {
    width: 100px;
    height:100px;
}

#box1 {
    background-color:rgb(255, 75, 75);
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#box2 {
    background-color:rgb(137, 204, 204);
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#box3 {
    background-color:rgb(31, 179, 117);
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

#box4 {
    background-color:rgb(251, 207, 218);
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}